<div class="row">
 
    <div class="container">
      <img src="<%= asset_path 'colegio_palmares.png' %>">
      <div class="caption">
        <h3>Colegio Palmares</h3>
        <p></p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>

</div>
<div class="container">
<div class=row>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="<%= asset_path 'DSC_0183.JPG' %>">
        </a>
        <h3>COlegio de tu Hermana</h3>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="<%= asset_path 'DSC_0183.JPG' %>">
        </a>
        <h3>COlegio de tu Hermana</h3>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="<%= asset_path 'DSC_0183.JPG' %>">
        </a>
        <h3>COlegio de tu Hermana</h3>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="<%= asset_path 'DSC_0183.JPG' %>">
        </a>
        <h3>COlegio de tu Hermana</h3>
      </div>
        <h1  class="Titulos">Titulo</h1>
      <h1 class="Titulos">Otro Titulo</h1>
      <a class="btn btn-default " href="http://www.atinauniformes.cl">
        
        <span class="glyphicon glyphicon-ok" style=" color:green"></span>
        AtinaUniformes 
      </a>

  </div> 