<div class="jumbotron" >
<div class="container"> 
	<h1>Colegios</h1>
	<div class="row">
		
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		    <a href="<%= welcome_colegio_palmares_path %>">
		     	<img src="<%= asset_path 'colegio_palmares.png' %>">
		    </a>
		      <div class="caption">
		        <h3>Colegio Palmares</h3>
		        <p>...</p>
		      </div>
		    </div>
		  </div>
		    <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
			 <img src="<%= asset_path 'colegio_paula_jaraquemada.png' %>">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>...</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		  </div>
		    <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="..." alt="...">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>...</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		  </div>
				  <!-- <div class="col-xs-6 col-md-3">
		    <a href="<%= welcome_colegio_palmares_path %>" class="thumbnail">
		    	<img src="<%= asset_path 'colegio_palmares.png' %>">
		    </a>
		    <h3>Colegio Palmares</h3>
		  </div>


		  <div class="col-xs-6 col-md-3">
		    <a href="<%= welcome_colegio_palmares_path %>" class="thumbnail">
		    	<img src="<%= asset_path 'colegio_paula_jaraquemada.png' %>">
		    </a>
		    <h3>Colegio Paula Jaraquemada</h3>
		  </div>

		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		    	<img src="<%= asset_path 'colegio_san_carlos.jpg' %>">
		    </a>
		    <h3>Colegio San Carlos</h3>
		  </div>

		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		    	<img src="<%= asset_path 'logo_santabarbarbara.jpg' %>">
		    </a>
		    <h3>Colegio Santa Barbara</h3>
		  </div> -->
	</div>
	<div class=row>
		  <!-- <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		    	<img src="<%= asset_path 'DSC_0183.JPG' %>">
		    </a>
		    <h3>COlegio de tu Hermana</h3>
		  </div>

		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		    	<img src="<%= asset_path 'DSC_0183.JPG' %>">
		    </a>
		    <h3>COlegio de tu Hermana</h3>
		  </div>

		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		     	<img src="<%= asset_path 'DSC_0183.JPG' %>">
		    </a>
		    <h3>COlegio de tu Hermana</h3>
		  </div>

		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		    	<img src="<%= asset_path 'DSC_0183.JPG' %>">
		    </a>
		    <h3>COlegio de tu Hermana</h3>
		  </div>
	  		<h1  class="Titulos">Titulo</h1>
			<h1 class="Titulos">Otro Titulo</h1>
			<a class="btn btn-default " href="http://www.atinauniformes.cl">
				
				<span class="glyphicon glyphicon-ok" style=" color:green"></span>
				AtinaUniformes 
			</a>
 -->
	</div>
</div>
<div class="container"> 
	<div class="row">
		<div class="col-md-4">
			<div class="page-header">
				<h1 style="display:inline">Example page header </h1>
				<span class="label label-default">New</span></h3>
			</div>
			<h2>Subtitulo</h2>
			<a href="http://www.atinauniformes.cl" target="_blank">AtinaUniformes</a>
			<p class="Titulos">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe atque maxime fugiat enim in impedit consequuntur quod iste beatae facere deserunt voluptatum sapiente nulla voluptates delectus, unde aliquid, cumque, aperiam.</p>
		</div>
		<div class="col-md-4">
			<div class="page-header">
				<h1>Example page header <small>Subtext for header</small></h1>
			</div>
			<p style = "color:chocolate">lorem ipsum</p>
			<p>lorem ipsum</p>
			<p>lorem ipsum</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum autem, fuga nobis error nam sed est distinctio fugiat pariatur assumenda quasi veniam. Debitis, mollitia natus! Aspernatur aut voluptas, maxime libero!</p>
			<h3>sub sub titulo</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, eveniet, est. Voluptatem exercitationem, explicabo optio sint aspernatur sed labore, est quibusdam repudiandae quidem, earum veritatis quasi quod rerum cumque enim.</p>
		</div>
		<div class="col-md-4">
			<div class="page-header">
				<h1>Example page header <small>Subtext for header</small></h1>
			</div>
			<a href="http://www.en1mes.com/">
			<img src="http://www.en1mes.com/assets/logo-79cc18afeb892865eb97c6b6641f7dc5.png" alt="Logo de en 1 mes" class="img-responsive">
			</a>
			<hr>
			<br>
			<br>
			<br>

			<img src="http://www.autonica.com/wp-content/uploads/2014/06/ft-naranja.png" alt="" class="img-responsive">

			<ol>
			<li>Item 1</li>
			<li>Item 2</li>
			<li>Item 3</li>
			</ol>
		</div>
		
	</div>
</div>




